@use '../../../theme/mixins.scss' as *;

// ANIMAZIONI E TRANSIZIONI
@include float-animation;
@include pulse-animation;

// STILE AUTENTICAZIONE GENERALE
@include auth-container;

// COMPONENTI SPECIFICI LOGIN
.auth-container {
  .auth-header {
    margin-bottom: 40px;
  }
}

.auth-form {
  .input-group {
    margin-bottom: 20px;
  }
}

// RESPONSIVE DESIGN
@media (max-width: 480px) {
  
  .auth-form-container {
    margin: 20px;
  }
}