<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registrazione</ion-title>
    </ion-toolbar>
  </ion-header>
  <form (ngSubmit)="onRegister()">
    
    <ion-item lines="none" class="input-item">
      <ion-label position="floating">Username</ion-label>
      <ion-input [(ngModel)]="username" name="username" required></ion-input>
    </ion-item>

    <ion-item lines="none" class="input-item">
      <ion-label position="floating">Email</ion-label>
      <ion-input [(ngModel)]="email" name="email" type="email" required></ion-input>
    </ion-item>

    <ion-item lines="none" class="input-item">
      <ion-label position="floating">Password</ion-label>
      <ion-input [(ngModel)]="password" name="password" type="password" required></ion-input>
    </ion-item>    
    <div class="role-section">
      <ion-text color="medium">
        <h3>Ruolo</h3>
      </ion-text>
      <ion-radio-group [(ngModel)]="role" name="role" required>
        <ion-list class="role-list">
          <ion-item class="role-list-item" [class.selected]="role === 'customer'" button (click)="selectRole('customer')">
            <ion-label class="role-label">
              <h3>Cliente</h3>
            </ion-label>
            <ion-radio slot="end" value="customer"></ion-radio>
          </ion-item>
          <ion-item class="role-list-item" [class.selected]="role === 'manager'" button (click)="selectRole('manager')">
            <ion-label class="role-label">
              <h3>Manager</h3>
            </ion-label>
            <ion-radio slot="end" value="manager"></ion-radio>
          </ion-item>
          <ion-item class="role-list-item" [class.selected]="role === 'admin'" button (click)="selectRole('admin')">
            <ion-label class="role-label">
              <h3>Admin</h3>
            </ion-label>
            <ion-radio slot="end" value="admin"></ion-radio>
          </ion-item>
        </ion-list>
      </ion-radio-group>
    </div>

    <ion-button expand="block" type="submit" class="register-button">Registrati</ion-button>
    <ion-text color="danger" *ngIf="errorMsg">{{ errorMsg }}</ion-text>
    <ion-text color="success" *ngIf="successMsg">{{ successMsg }}</ion-text>
    <div class="login-section">
      <span>Hai già un account?</span>
      <ion-button fill="clear" size="small" (click)="goToLogin()" class="login-button">Torna al Login</ion-button>
    </div>
  </form>
</ion-content>
