<ion-split-pane when="md" contentId="main">
  <ion-menu contentId="main" side="start">
    <ion-header>
      <ion-toolbar>
        <ion-title>SM Simulator</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding menu-content">
      <div class="menu-items">
        <ion-button fill="clear">
          <ion-icon slot="start" name="storefront-outline"></ion-icon>supermercati
        </ion-button>
        
        <ion-button fill="clear">
          <ion-icon slot="start" name="cube-outline"></ion-icon>prodotti
        </ion-button>
        
        <ion-button fill="clear">
          <ion-icon slot="start" name="pricetags-outline"></ion-icon>offerte
        </ion-button>
        
        <ion-button fill="clear">
          <ion-icon slot="start" name="cart-outline"></ion-icon>carrello 
        </ion-button>
        
        <ion-button fill="clear" *ngIf="isCustomer()">
          <ion-icon slot="start" name="receipt-outline"></ion-icon>ordini
        </ion-button>
      </div>

      <div class="logout-section">
        <ion-button fill="clear" (click)="logout()">
          <ion-icon slot="start" name="log-out-outline"></ion-icon>Logout
        </ion-button>
      </div>
    </ion-content>
  </ion-menu>

  <!-- Contenuto principale -->
  <div class="ion-page" id="main">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Dashboard</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      <ion-text color="danger" *ngIf="errorMsg">{{ errorMsg }}</ion-text>
      
      <ng-container *ngIf="dashboardData">
        <ion-list lines="none">
          <ion-item>
            <ion-label class="ion-padding-vertical"><b>Benvenuto,</b> {{ dashboardData.user?.role }}</ion-label>
          </ion-item>
          <ion-item *ngIf="dashboardData.stats">
            <ion-label class="ion-padding-vertical">Supermercati con offerte: {{ dashboardData.stats.supermarkets_with_offers }}</ion-label>
          </ion-item>
          <ion-item *ngIf="dashboardData.supermarkets">
            <ion-label class="ion-padding-vertical">Supermercati disponibili: {{ dashboardData.supermarkets.length }}</ion-label>
          </ion-item>
        </ion-list>

        <ion-list *ngIf="dashboardData.supermarkets" lines="none">
          <ion-item *ngFor="let sm of dashboardData.supermarkets">
            <ion-label class="ion-padding-vertical">{{ sm.name }}<br><small>{{ sm.address }}</small></ion-label>
          </ion-item>
        </ion-list>
      </ng-container>
    </ion-content>
  </div>
</ion-split-pane>


